.custom-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Set the maximum width of the card */
    overflow: hidden; /* Prevent content overflow */
  }
  
  .custom-card img {
    width: 100%;
    height: auto;
  }
  
  .custom-card .card-title {
    margin: 0;
    font-size: 20px;
  }
  
  .custom-card .card-text {
    font-size: 14px;
  }
  

  /* CSS for BookTickets Section  */

  .outer-div{
    display: block;
    margin: 30px;
    padding: 10px;
    background-color: rgba(10, 102, 90, 0.664);
  }
  .inner-div{
    background-color: rgba(10, 10, 10, 0.555);
    display:block;
  }
  .main-btn{
    background-color: rgb(18, 56, 18);
    padding: 30px;
    margin: 20px;
  }

  .label{
   display: inline-flex;
   text-align: center;
   color: #ccc;
   
  }
